#root {
    width: 90%;
    margin: 0 auto;
}

table {
    color: black;
    width: 100%;
    margin-bottom: 50px;
}

th {
    background-color: #ffd580;
    text-align: center;
}

td {
    vertical-align: top;
    width: 40%;
}